@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    margin: auto;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:50px;
    padding-right: 50px;
}

#subtitle {
    background: black;
    color: white;
    margin: auto;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom:1px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:50px;
    padding-right: 50px;
}

.topic {
    background: lightgray;
    display: inline-block;
    margin:90px;
    
}

